{% extends 'base.html' %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}About Us{% endblock %}</title>
</head>
<body>
	{% block pagecontent %}
	{% include 'partials/nav.html' %}

	<h2>Project Participants</h2>

	<div class="profiles">
			<h3>Crystal Rhee - Developer</h3>
			<p>Roles: web application development</p>
			<h3>Matt Slivinski - Developer</h3>
			<p>Roles: backend development</p>
			<h3>Mengdi Gao - Data Scientist</h3>
			<p>Roles: graph visualization and hardware</p>
			<h3>Akshay - Developer</h3>
			<p>Roles: protype tester</p>

	</div>
	{% endblock %}
</body>
</html>
