{% extends 'base.html' %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Temperature Mood{% endblock %}</title>
</head>
<body>
	{% block pagecontent %}
	{% include 'partials/nav.html' %}
	<h1>Temperature Mood</h1>

	<span id="tempRead" value="">73</span>

	<div class="selection">
		<form method='POST'>
			<h2>Map</h2>
			<a href="{% url 'map' %}" class="btn"><i class="fa fa-globe" aria-hidden="true"></i>
				Map</a>
			</form>
			<form method='POST'>
				<h2>Song</h2>
				<a href="{% url 'song' %}" class="btn"><i class="fa fa-youtube-play" aria-hidden="true"></i>
					Song</a>
				</form>
			</div>
			{% endblock %}
		</body>
		</html>
