{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Song</title>
</head>
<body>
  {% block pagecontent %}
  {% include 'partials/nav.html' %}
  <div class="table-div">
    <table class="table">
      <thead>
        <tr>
          <th>Temperature</th>
          <th>Song</th>
        </tr>
      </thead>
      <tbody>
        {% for temp in data %}
        <tr>
          <td>{{ temp.temperature }}</td>
          <td>{{ temp.song }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container">
    To be implemented.
  </div>
  {% endblock %}
</body>
</html>
